In [1]:
# import dependencies
import pandas as pd
import random
import gmaps
import requests
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Guerrero Negro,27.98,-114.06,62.92,60,3,5.53,MX,2020-10-29 05:35:31
1,1,Mataura,-46.19,168.86,63.00,70,30,1.99,NZ,2020-10-29 05:35:31
2,2,Busselton,-33.65,115.33,79.00,25,0,3.51,AU,2020-10-29 05:35:31
3,3,Hobart,-42.88,147.33,62.60,42,20,12.75,AU,2020-10-29 05:32:07
4,4,Latur,18.40,76.58,80.38,40,29,5.99,IN,2020-10-29 05:35:31

In [3]:
city_data_df.dtypes

Unnamed: 0      int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# configure gmaps to use google api key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
# temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp,0) for temp in max_temp],
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Busselton,-33.65,115.33,79.00,25,0,3.51,AU,2020-10-29 05:35:31
4,4,Latur,18.40,76.58,80.38,40,29,5.99,IN,2020-10-29 05:35:31
8,8,Boyolangu,-8.12,111.89,86.04,64,14,8.37,ID,2020-10-29 05:35:32
13,13,Porto Novo,6.50,2.60,78.80,94,40,3.36,BJ,2020-10-29 05:35:33
18,18,Gorontalo,0.54,123.06,84.74,70,100,2.86,ID,2020-10-29 05:31:13
20,20,Vanimo,-2.67,141.30,85.12,74,90,10.71,PG,2020-10-29 05:35:33
21,21,Ukwa,21.97,80.47,83.89,35,50,2.86,IN,2020-10-29 05:35:33
33,33,Saint-Philippe,-21.36,55.77,75.20,73,75,23.04,RE,2020-10-29 05:35:34
34,34,Georgetown,5.41,100.34,86.00,79,20,5.82,MY,2020-10-29 05:35:34
40,40,Tautira,-17.73,-149.15,78.80,74,75,9.17,PF,2020-10-29 05:35:35

In [12]:
preferred_cities_df = preferred_cities_df.dropna('index')

In [13]:
preferred_cities_df.count()

Unnamed: 0    171
City          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
Country       171
Date          171
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
2        Busselton      AU     79.00 -33.65  115.33
4            Latur      IN     80.38  18.40   76.58
8        Boyolangu      ID     86.04  -8.12  111.89
13      Porto Novo      BJ     78.80   6.50    2.60
18       Gorontalo      ID     84.74   0.54  123.06
20          Vanimo      PG     85.12  -2.67  141.30
21            Ukwa      IN     83.89  21.97   80.47
33  Saint-Philippe      RE     75.20 -21.36   55.77
34      Georgetown      MY     86.00   5.41  100.34
40         Tautira      PF     78.80 -17.73 -149.15

In [15]:
# set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # get latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add the latitude and longitude to laction key
    params["location"] = f"{lat},{lng}"
    
    # use searcdh tem "lodging" and our latitude, longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request, get JSON data from search
    hotels = requests.get(base_url,params=params).json()
    # grab first hotel from the results, store the name
    try:
        hotel_df.loc[index, "Hotel_Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("hotel not found... skipping.")

hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.

In [23]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name,Hotel_Name
2,Busselton,AU,79.00,-33.65,115.33,,Observatory Guest House
4,Latur,IN,80.38,18.40,76.58,,STARiHOTELS Tapdiya Market Latur
8,Boyolangu,ID,86.04,-8.12,111.89,,Yos ega cv
13,Porto Novo,BJ,78.80,6.50,2.60,,Tour Eiffel Hotel Benin
18,Gorontalo,ID,84.74,0.54,123.06,,Maqna Hotel by Prasanthi

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))